---
layout: home
title: "Rafael Ostertag"
footer: "yes"
---

<div class="position-relative bg-dark">
    <img style="z-index: 0; opacity: 0.5;" class="position-sticky top-0 start-0 img-fluid"
        src="{% link assets/backgrounds/title.jpg %}" />

    <div style="z-index: 1;" class="position-absolute display-1 top-50 start-0 text-light translate-middle-y">
        <p class="ms-5">Rafael Ostertag . Photo</p>
    </div>
</div>


{% for category in site.data.home_items %}

{%- if forloop.index == 3 -%}
<section class="text-light lead-img"
    style='background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("{% link assets/backgrounds/monthly.jpg %}");'>
    <h1>Monthly</h1>
    <p class="fs-2 pt-3 ps-5">
        Visit the monthly galleries <a href="{% link monthly/index.md %}">
            <span class="carousel-control-next-icon"></span>
        </a>
    </p>
</section>
{%- endif -%}

{%- if forloop.index == 6 -%}
<section class="text-light lead-img"
    style='background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("{% link assets/backgrounds/blackwhite.jpg %}");'>
    <h1>Black & White</h1>
    <p class="fs-2 pt-3 ps-5">
        Visit the black & white gallery <a href="{% link black_and_white.md %}">
            <span class="carousel-control-next-icon"></span>
        </a>
    </p>
</section>
{%- endif -%}

<h1 class="w-bg text-light" style='background-image: url("{% link {{category.bg_image}} %}");'>{{category.title}}
</h1>
<section class="container homeGallery">
    {% for item in category.items %}
    <a href="{% link {{item.src}} %}"><img class="rounded" alt="{{item.lead}}" src="{% link {{item.thumb}} %}" /></a>
    {% endfor %}
</section>
{% endfor %}