---
layout: home
title: "Rafael Ostertag"
footer: "no"
---

<div class="position-relative bg-dark">
    <img style="z-index: 0; opacity: 0.5;" class="position-sticky top-0 start-0 img-fluid"
        src="{% link assets/backgrounds/title.jpg %}" />

    <div style="z-index: 1;" class="position-absolute display-1 top-50 start-0 text-light translate-middle-y">
        <p class="ms-5">Rafael Ostertag</p>
    </div>
</div>


{% for category in site.data.home_items %}

{%- if forloop.index == 3 -%}
<section class="text-light lead-img"
    style='background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("{% link assets/backgrounds/monthly.jpg %}");'>
    <h1>Monthly</h1>
    <p class="fs-2 pt-3 ps-5">
        Visit the monthly galleries <a href="{% link monthly/index.md %}">
            <span class="carousel-control-next-icon"></span>
        </a>
    </p>
</section>
{%- endif -%}

{%- if forloop.index == 6 -%}
<section class="text-light lead-img"
    style='background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("{% link assets/backgrounds/blackwhite.jpg %}");'>
    <h1>Black & White</h1>
    <p class="fs-2 pt-3 ps-5">
        Visit the black & white gallery <a href="{% link black_and_white.md %}">
            <span class="carousel-control-next-icon"></span>
        </a>
    </p>
</section>
{%- endif -%}

<h1 class="w-bg text-light" style='background-image: url("{% link {{category.bg_image}} %}");'>{{category.title}}
</h1>
<section class="container homeGallery">
    {% for item in category.items %}
    {% assign components = item.src | split: "/" %}
    {% assign filename = components | last %}
    {% assign path = item.src | replace_first: filename, "thumbnails" %}
    {% assign thumbnail = path | append: "/" | append: filename %}

    <a href="{% link {{item.src}} %}"><img class="rounded" alt="{{item.lead}}" src="{% link {{thumbnail}} %}" /></a>
    {% endfor %}
</section>
{% endfor %}

<section class="container-fluid pt-5 pb-5 ps-5 pe-5 bg-dark text-light mt-5">
    <div class="row align-items-end">
        <div class="col-md-6">
            <ul class="list-unstyled mb-0 pb-0">
                <li><i class="bi bi-globe"></i> <a
                        class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
                        href="https://500px.com/p/osr">500px</a></li>
                <li class="pt-3"><i class="bi bi-globe"></i> <a
                        class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
                        href="https://100asa.com/photographer/osr">100asa</a></li>
                <li class="pt-3"><i class="bi bi-envelope"></i> <a
                        class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
                        href="#" class="my-email">Rafael Ostertag</a></li>
            </ul>
        </div>

        <div class="col-md-6 text-end">
            All photos on this site are licensed under a <a
                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
                href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International
                License</a>
        </div>
    </div>
</section>