---
layout: home
title: "Rafael Ostertag"
footer: "no"
description: |
    Discover the world through the lens of an amateur photographer. Join me on a personal
    exploration of moments, where every snapshot tells a story. As an enthusiast capturing the beauty of everyday life, my
    gallery features a humble yet heartfelt collection of photographs. From candid shots of daily scenes to attempts at
    mastering the art of composition, each image reflects the joy and curiosity of an amateur photographer finding beauty in
    the ordinary. Embrace the imperfections and genuine charm of amateur photography as we navigate this visual journey
    together.
---

<div class="position-relative bg-dark">
    <img style="z-index: 0; opacity: 0.5;" class="position-sticky top-0 start-0 img-fluid"
        src="{% link assets/backgrounds/title.webp %}" />

    <div style="z-index: 1;" class="position-absolute display-1 top-50 start-0 text-light translate-middle-y">
        <p class="ms-5">Rafael Ostertag . Photo</p>
    </div>
</div>

{% for category in site.data.home_items %}

{%- if forloop.index == 3 -%}
<div class="text-light lead-img"
    style='background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("{% link assets/backgrounds/monthly.jpg %}");'>
    <h1>Monthly</h1>
    <p class="fs-2 pt-3 ps-5">
        <a class="link-light link-underline link-underline-opacity-0 link-offset-3 link-underline-light"
            href="{% link monthly/index.md %}">Visit the
            monthly galleries <span class="carousel-control-next-icon"></span>
        </a>
    </p>
</div>
{%- endif -%}

{%- comment -%} {%- if forloop.index == 6 -%}
<div class="text-light lead-img"
    style='background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("{% link assets/backgrounds/blackwhite.jpg %}");'>
    <h1>Black & White</h1>
    <p class="fs-2 pt-3 ps-5">
        <a class="link-light link-underline link-underline-opacity-0 link-offset-3 link-underline-light"
            href="{% link black_and_white.md %}">Visit the
            black & white gallery <span class="carousel-control-next-icon"></span>
        </a>
    </p>
</div>
{%- endif -%}
{%- endcomment -%}
<h1 class="w-bg text-light"
    style='background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("{% link {{category.bg_image}} %}");'>
    {{category.title}}
</h1>
<div class="container homeGallery">
    {% for item in category.items %}
    {% assign components = item.src | split: "/" %}
    {% assign filename = components | last %}
    {% assign path = item.src | replace_first: filename, "thumbnails" %}
    {% assign thumbnail = path | append: "/" | append: filename %}

    <a href="{% link {{item.src}} %}"><img class="rounded" alt="{{item.lead}}" src="{% link {{thumbnail}} %}" /></a>
    {% endfor %}
</div>
{% endfor %}

<div class="container-fluid pt-5 pb-5 ps-5 pe-5 bg-dark text-light mt-5">
    <div class="row align-items-end">
        <div class="col-md-6">
            <ul class="list-unstyled mb-0 pb-0">
                <li><i class="bi bi-globe"></i> <a
                        class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
                        href="https://500px.com/p/osr">500px</a></li>
                <li class="pt-3"><i class="bi bi-globe"></i> <a
                        class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
                        href="https://100asa.com/photographer/osr">100asa</a></li>
                <li class="pt-3"><i class="bi bi-envelope"></i> <a
                        class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
                        href="#" class="my-email">Rafael Ostertag</a></li>
            </ul>
        </div>

        <div class="col-md-6 text-end">
            All photos on this site are licensed under a <a
                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
                href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International
                License</a>
        </div>
    </div>
</div>