<footer class="container mb-1">
    <hr>
    <div class="row">
        <div class="col">
            <a href="#" class="my-email text-dark" title="Write Email"><i class="bi-envelope"></i></a> |
            <a href="https://www.instagram.com/rafael.ostertag/" title="Go to Instagram"><img width="13" height="13"
                    src="/assets/3rdparty/Instagram_Glyph_Black.png" alt="Instagram" /></a> | <a class="text-secondary"
                rel="license" title="License" href="{% link license.md %}">License</a> | <a class="text-secondary"
                title="Contact Page" href="{% link contact.html %}">Contact</a>
        </div>
        {% if include.share %}
        <div class="col sharethis-inline-share-buttons"></div>
        {% endif %}
    </div>
</footer>