<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:image" content="{{ site.url }}{% link assets/backgrounds/title.webp %}">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="www.rafaelostertag.photo">
<meta property="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ site.url }}{% link assets/backgrounds/title.webp %}">

<meta name="description" content="{{ page.description }}">