body {
    background-color: rgb(255, 255, 250);
    font-family: bryant-web-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-family: bryant-web, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lead-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    padding-left: 1.5rem;
    padding-top: 3rem;
}

h1.w-bg {
    height: 150px;
    background-position: left;
    padding-left: 1.5rem;
    line-height: 150px;
}

a.smooth {
    scroll-behavior: smooth;
}