---
layout: compress
---
{% assign photo_list = site.data.gallery_bw %}
<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  {% include bootstrap.html %}
  {% include favicon.html %}
  {% include javascript.html %}
  {% include justifiedgallery.html %}
  {% include lightgallery.html %}
  {% include style.html %}

  <meta property="og:type" content="website">
  <meta property="og:title" content="Black & White" />
  <meta property="og:description" content="Black & White photographs" />
  <meta property="og:image" content="{{ site.url }}{% link assets/backgrounds/title.jpg %}">

  <meta property="twitter:domain" content="rafaelostertag.photo">
  <meta property="twitter:title" content="Black & White" />
  <meta name="twitter:description" content="Black & White photographs">
  <meta name="twitter:image" content="{{ site.url }}{% link assets/backgrounds/title.jpg %}">

  <title>{{ page.title }} - {{ site.title }}</title>
</head>

<body>
  {% include navbar.html %}
  <main class="container mt-1">
    <header class="row">
      <div class="col col-md-12">
        <h1>
          {{ page.title }}
        </h1>
      </div>
    </header>
    <div class="row justify-content-center">
      <div class="col col-md-12">
        <div id="lightgallery">
          {% for photo in photo_list %}
          <a href="{% link {{ photo.image }} %}" data-sub-html="<p class='text-secondary fst-italic fw-light'>{{photo.image-info.lens}} @ {{photo.image-info.focal_length}}, {{ photo.image-info.exposure }}, {{ photo.image-info.aperture }}, {{ photo.image-info.iso }}</p>">
            <img class="img-fluid rounded" src="{% link {{ photo.thumb }} %}" />
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
</body>

{% if page.footer != "no" %}
{% include footer.html %}
{% endif %}
{% include bootstrap_js.html %}
{% include justifiedgallery_js.html %}

</html>