---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include bootstrap.html %}
    {% include favicon.html %}
    {% include javascript.html %}
    {% include style.html %}
    <title>{{ page.title }} - {{ site.title }}</title>
  </head>
  <body>
    {% include navbar.html %}
    <section class="container mt-3">
      {{ content }}
    </section>

    {% if page.footer != "no" %}
    {% include footer.html %}
    {% endif %}
    {% include bootstrap_js.html %}
  </body>
</html>
