---
layout: compress
---
{% assign index_data = site.data.favorites_index %}
<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    {% include bootstrap.html %}
    {% include favicon.html %}
    {% include javascript.html %}
    {% include sharethis.html %}
    <title>{{ page.title }} - {{ site.title }}</title>
</head>

<body>
    {% include navbar.html %}
    <section class="container">
            <h1 class="col-md-10">
                {{ page.title }}
            </h1>
        </div>

        {% for photo in index_data %}
        {% assign row = forloop.index0 | modulo:3 %}
        {% if row == 0 %}
        <div class="row align-items-center">
            {% endif %}
            <div class="col-md-4 text-center mb-3 position-relative">
                <a href="{% link {{ photo.page }} %}">
                    <img class="rounded img-fluid border-secondary no-share" src="{% link {{ photo.thumb }} %}">
                </a>
                {% if photo.latest %}
                <span
                    class="position-absolute top-100 start-50 translate-middle badge rounded-pill bg-secondary">latest</span>
                {% endif %}
            </div>
            {% if row == 2 or forloop.last %}
        </div>
        {% endif %}

        {% endfor %}
    </section>

    {% include footer.html %}
    {% include bootstrap_js.html %}
</body>

</html>