---
layout: compress
---
{% assign month_data = site.data.monthly_gallery_map[page.month_key] %}
<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  {% include bootstrap.html %}
  {% include favicon.html %}
  {% include javascript.html %}
  {% include justifiedgallery.html %}
  {% include lightgallery.html %}
  {% include style.html %}

  <meta property="og:type" content="website">
  <meta property="og:title" content="Photographs {{ page.title }}" />
  <meta property="og:description" content="All photos of {{ page.title }}" />
  <meta property="og:image" content="{{ site.url }}{% link assets/backgrounds/title.jpg %}">

  <meta property="twitter:domain" content="rafaelostertag.photo">
  <meta property="twitter:title" content="Photographs {{ page.title }}" />
  <meta name="twitter:description" content="All photos of {{ page.title }}">
  <meta name="twitter:image" content="{{ site.url }}{% link assets/backgrounds/title.jpg %}">

  <title>{{ page.title }} - {{ site.title }}</title>
</head>

<body>
  {% include navbar.html %}
  <main class="container mt-1">
    <header class="row">
      <div class="col col-md-10">
        <h1>
          {{ page.title }}
        </h1>
      </div>
      <div class="col col-md-2 justify-content-end text-end align-self-center">
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">Month
          </button>
          <ul class="dropdown-menu">
            {% for monthly_gallery in site.data.monthly_galleries_list %}
            <li><a class="dropdown-item" href="{% link monthly/{{monthly_gallery.index_filename}} %}">{{
                monthly_gallery.display-date }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </header>
    <div class="row justify-content-center">
      <div class="col col-md-12">
        <div id="lightgallery">
          {% for photo in month_data.photos %}
          <a href="{% link {{ photo.image }} %}"
            data-sub-html="<p class='text-secondary fst-italic fw-light'>{{photo.image-info.lens}} @ {{photo.image-info.focal_length}}, {{ photo.image-info.exposure }}, {{ photo.image-info.aperture }}, {{ photo.image-info.iso }}</p>">
            <img class="img-fluid rounded" src="{% link {{ photo.thumb }} %}" />
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
</body>

{% if page.footer != "no" %}
{% include footer.html %}
{% endif %}
{% include bootstrap_js.html %}
{% include justifiedgallery_js.html %}

</html>