---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    {% include bootstrap.html %}
    {% include favicon.html %}
    {% include javascript.html %}
    {% include sharethis.html %}
    <title>{{ page.title }} - {{ site.title }}</title>
</head>

<body>
    {% include navbar.html %}
    <section class="container mt-3">
        {% assign image = site.data.photo_page[page.image] %}
        <div class="row mb-3">
            <div class="col text-center">
                <a role="button" title="Overview" class="btn btn-outline-secondary w-100"
                    href="{% link {{ image.index_filename }} %}"><i class="bi-chevron-up"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="position-relative">
                    {% if image.prev %}
                    <a role="button" title="Previous"
                        class="text-dark btn btn-light opacity-50 h-100 position-absolute start-0 top-0"
                        href="{% link {{ image.prev }} %}"><i
                            class="position-absolute top-50 start-50 translate-middle bi-chevron-left"></i></a>
                    {% endif %}

                    <a href="{% link {{ page.image }} %}"><img src="{% link {{ image.medium }} %}" class="img-fluid" /></a>

                    {% if image.next %}
                    <a role="button" title="Next"
                        class="text-dark btn btn-light opacity-50 h-100 position-absolute end-0 top-0"
                        href="{% link {{ image.next }} %}"><i
                            class="position-absolute top-50 start-50 translate-middle bi-chevron-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row text-secondary">
            <p class="col-6 text-start fst-italic fw-light">
                {{image.lens}} @ {{image.focal_length}}, {{ image.exposure }}, {{ image.aperture }}, {{ image.iso }}
            </p>
            {% if image.tags %}
            <p class="col-6 text-end fw-light">
            {{ image.tags | join:", " }}
            </p>
            {% endif %}
        </div>
    </section>

    {% include footer.html share="yes" %}
    {% include bootstrap_js.html %}
</body>

</html>